@import url('https://fonts.googleapis.com/css2?family=Laila:wght@400;500&display=swap');

body {
  font-family: 'Laila';
  background-color: #e6dedc;
  font-size: 90%;

  height: 100vh;
}


.parent {
  display: grid;
  justify-content: center;
  text-align: center;
}


.download_button {
  
    font-family: 'Laila';
    color: rgb(0, 0, 0);
    background-color: #e2e1de;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.35);
    padding: 20px;
    text-align: center;
    border: none;
    font-size: 30px;
    cursor: pointer;


    max-width: 700px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
  

    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0px 15px 0 rgb(114, 114, 114);
    backdrop-filter: blur(8px) saturate(100%);
    -webkit-backdrop-filter: blur(8px) saturate(100%);
  
  }
